*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: "inter";
}

:root {
    --header-background: #303030;
    --header-color: #FFFFFF;
    --informationalMenu-color: #F9F9F9;
}

header {
    padding: 10%;
    background-color: var(--header-background);
    color: var(--header-color);
    padding-left: 3.75em;
}

#titleHeader {
    font-size:  3.75em;
    padding-bottom: 0.5em;
}

#informationalMenu {
        background-color: var(--informationalMenu-color);
        display: grid;
        grid-auto-flow: column;
        height: 14.3125em;
        align-items: center;
        gap: none;
        padding-left: 13%;
}